.pageLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 4rem;
        font-weight: bold;
        margin: 20px 0 30px 0;
    }

    .button {
        position: absolute;
        margin: 28px 0 0 28px;
        top: 0;
        left:0;
    }
}
