@import '../../../styles/colors.scss';

.nodeState {
    margin:  15px 20px 20px 20px;
    width: 90%;

    overflow: hidden;
    border-collapse: collapse;
    border-radius: 20px;
    border: 1px solid $grey;

    th {
        text-align: left;
        font-weight: bold;
        color: $grey-darker;
    }

    td {
        font-style: italic;
        color: $grey-darker;
    }

    th, td {
        width: 50%;
        padding: 5px;
        border: 1px solid $grey;
    }

    .red {
        color: $red;
    }

    .green {
        color: $green;
    }
}
