@import '../../../styles/colors.scss';

$nb-items: 10;
$item-width: 15px;

.spinner {
    margin: 20px 0;
    width: #{($item-width + 1) * $nb-items}vmin;
    height: 150px;

    text-align: center;
    font-size: 10px;

    $delay: 1 + (($nb-items - 1) * 0.05);

    .spinnerItem {
        margin: 5px;
        height: 100%;
        width: $item-width;
        display: inline-block;
        background-color: $grey-darker;
    
        -webkit-animation: sk-stretchdelay #{$delay}s infinite ease-in-out;
        animation: sk-stretchdelay #{$delay}s infinite ease-in-out;
    }

    @for $i from 1 through 10 {
        .spinnerItem:nth-child(#{$i}) {
            $calc-delay: #{-$delay + (($i - 1) * 0.1)}s;
            -webkit-animation-delay: $calc-delay;
            animation-delay: $calc-delay;
        }
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    
    20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
