@import '../../../styles/colors.scss';

.button {
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    padding: 10px 20px;

    border-radius: 500px;
    border: 2px solid $grey;
    box-shadow: 0 6px 10px $grey-lighter;
    background-color: $grey-very-light;

    font-size: 1.3rem;
    white-space: nowrap;

    &:not(.disabled):hover {
        &:not(:active) {
            background-color: $grey-light;
        }

        &:active {
            box-shadow: 0 6px 10px $grey-light;
        }
    }
}

.disabled {
    cursor: auto !important;
    border-color: $grey-light;
    color: $grey;
}
