@import "../../../../styles/colors.scss";

.dateInput {
    position: relative;
    font-size: 1.5rem;

    input {
        margin: 0 4px;
        font-size: inherit;
    }

    .small {
        width: 28px;
    }

    .big {
        width: 54px;
    }

    .error {
        position: absolute;
        width: fit-content;
        top: 100%;
        left: 50%;

        transform: translate(-50%, 30%);
        white-space: nowrap;

        font-size: 1.3rem;
        color: $red
    }
}
