$transparent: transparent;

$black: #000000;
$grey-very-darker: #333333;
$grey-darker: #555555;
$grey: #777777;
$grey-lighter: #BBBBBB;
$grey-light: #DDDDDD;
$grey-very-light: #EEEEEE;
$white: #FFFFFF;

$red: #dd3333;
$green: #33dd33;
