html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 2vmin;

    // #root
    &>div {
        // #root, #app
        &, &>div {
            height: 100vh;
        }
    }
}

button, div {
    user-select: none;
}

img {
    -webkit-user-drag: none;
}
