@import "../../../../styles/colors.scss";

.sensorNode {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px;

    border-radius: 50px;
    border: 2px solid $grey;
    box-shadow: 0 6px 10px $grey;
    background-color: $grey-very-light;

    height: 350px;
    width: 350px;

    img {
        height: 120px;
        width: 120px;
    }

    .deviceName {
        margin: 20px;
        font-size: 1.3rem;
        font-weight: bold;
        color: $grey-very-darker;
    }

    .serialNumber {
        margin-top: 20px;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &:hover {
        &:not(:active) {
            background-color: $grey-light;
        }

        &:active {
            box-shadow: 0 6px 10px $grey-lighter;
        }
    }
}
