.loadingLayout {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h3 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}
