@import "../../../styles//colors.scss";

.checkbox {
    cursor: pointer;
    position: relative;

    .input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }

    .box {
        display: inline-block;
        height: 24px;
        width: 24px;

        background-color: $white;
        box-shadow: 0 6px 10px $grey-lighter;
        box-sizing: border-box;
        border: 2px solid $grey;
        border-radius: 5px;

        span {
            position: relative;
            visibility: hidden;
            display: block;

            width: 6px;
            height: 14px;
            border: solid $grey;
            border-width: 0 3px 3px 0;
            transform: translateX(60%) rotate(45deg);
        }

        .checked {
            visibility: visible;
        }

        &:hover {
            &:not(:active) {
                background-color: $grey-very-light;
            }

            &:active {
                box-shadow: 0 6px 10px $grey-light;
            }
        }
    }
}
