@import "../../../../styles//colors.scss";

.sensor {
    position: relative;
    margin-bottom: 50px;
    height: 400px;
    width: 90vmin;

    .title {
        display: flex;
        justify-content: center;

        .name {
            margin-left: 20px;
            font-size: 1.5rem;
        }
    }

    .noData {
        position: absolute;
        top: 50%;
        left: 50%;

        font-size: 1.5rem;
        color: $grey-darker;

        transform: translate(-50%, -50%);
    }
}

.closed {
    height: 50px;
}
