.dateRangeInput {
    display: flex;
    flex-direction: column;
    align-items: center;

    .range {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .date {
            margin: 20px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .label {
                margin-bottom: 10px;
                font-size: 1.5rem;
            }
        }
    }

    .button {
        margin-bottom: 30px;
    }
}
